.aboutUs{
    background-image: url('../../assets/Images/Other/pet3.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}